@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto&display=swap');

body *, body *::before, body *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #4d4a95;
  --color-2: #c1ccee;
  --color-3: #db384e;
  --color-text: #432818;
  --color-bg: #f2f6ff;
  font-size: 17px;
  scroll-behavior: smooth;
}

/* GENERAL STYLES */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

p {
  margin: 1em 0;
}

h2 {
  margin: 0.83em 0;
  font-family: 'Oswald', sans-serif;
}

a,
a:visited,
#sec-nav > ul > li:first-child > span {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-text);
  position: relative;
  cursor: pointer;
}

a:hover::before,
#sec-nav > ul > li:first-child > span:hover::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 1rem;
  top: 0;
  left: 0;
  transform: translateX(-6px);
  background-color: var(--color-3);
}

a:active {
  color: var(--color-3);
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

/* NAVIGATION BAR  */

#zsmf, #leben, #auszeichnungen {
  scroll-margin-top: calc(3rem + 0.83rem);
}

#sec-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  width: 100%;
  z-index: 1;
  box-shadow: 0px 3px 10px -5px var(--color-text);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

#sec-nav img {
  height: 100%;
}

#sec-nav > ul {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  white-space: nowrap;
}

#sec-nav > ul > li:first-child {
  position: relative;
}

#sec-nav > ul > li:hover > ul {
  display: grid;
}

#sec-nav li > ul {
  list-style-type: none;
  padding: 1rem;
  background-color: var(--color-bg);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%) translateX(-1rem);
  gap: 1rem;
  display: none;
  border-bottom: thin solid var(--color-text);
}

#sec-nav li > ul:hover {
  display: grid;
}

/* BIG IMAGE SECTION  */

#sec-1 {
  /* overflow: hidden; */
  position: relative;
  width: 100%;
  height: 60vh;
}

#sec-1 > #desert {
  background-image: url(./img/sec-1-background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  position: fixed;
  z-index: -1;
}

#sec-1 #waves {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* AMINATOU QUOATE AND PICTURE SECTION */

#sec-2 {
  font-family: 'Oswald', sans-serif;
  background-color: var(--color-2);
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid:   "quote quote img" 1fr
          ". name name" auto
          ". . ." 20vh /
          1fr 1fr 3fr;
}

#sec-2 #img {
  grid-area: img;
  position: relative;
  margin: 2rem;
}

#sec-2 #img img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

}

#sec-2 #name {
  grid-area: name;
  background-color: var(--color-1);
  color: var(--color-bg);
  padding: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
}

#sec-2 #name span {
  font-weight: 400;
}

#sec-2 #quote {
  grid-area: quote;
  padding: 2rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
  scroll-margin-top: 3rem;
}

/* VIDEO SECTION */

#sec-video {
  width: 100vw;
  height: auto;
  background-color: inherit;
  overflow: hidden;
}

/* GENERAL TEXT SECTIONS */

.sec-text {
  background-color: inherit;
}

.text {
  width: clamp(45ch, 70%, 75ch);
  padding: 2rem 0;
  margin: 0 auto;
}

.text ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 1rem;
  list-style-image: url(./img/list-img.svg);
}

.text ul > li::marker {
  height: 1rem;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 900px) {
  #sec-2 {
    grid:   ". img ." 45vh
            ". name name" auto 
            "quote quote ." auto
            ". . ." 20vh /
            4rem 1fr 4rem;
  }

}

@media only screen and (max-width: 530px) {
  /* changing the rem size so all rem values adapt */
  :root {
    font-size: 16px;
  }
  
  #sec-1 {
    height: 50vh;
  }

  #sec-1 > #desert {
    height: 50vh;
  }

  #sec-2 #name {
    font-size: 1.5rem;
  }

  #sec-2 #quote {
    font-size: 1.1rem;
  }
  
  .sec-text .text {
    width: 100%;
    padding: 2rem;
  }

  #sec-2 {
    grid:   "img" 20vh
            "name" auto 
            "quote" auto /
            1fr;
    align-content: center;
  }

  #sec-2 #name {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
